
<body>
<!--<div id="Razvan">
  <ng-form method="POST" enctype="multipart/form-data" action="http://localhost:7070/">
    <table>
      <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
      <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
  </ng-form>
</div>
-->
<div id="plswork2" [style.z-index]="getFakeStyle()">
<input id = "upChoose" type="file" (change)="onFileChanged($event)">
  <button id = "upButt" type = "button" (click)="onUpload()">Upload</button>
</div>
<link href='https://fonts.googleapis.com/css?family=Cabin+Condensed:700' rel='stylesheet' type='text/css'>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="450px" height="240px" xml:space="preserve" [style.z-index]="getStyle()">
  <defs>
    <pattern id="water" width=".25" height="1.1" patternContentUnits="objectBoundingBox">
      <path fill="#000" d="M0.25,1H0c0,0,0-0.659,0-0.916c0.083-0.303,0.158,0.334,0.25,0C0.25,0.327,0.25,1,0.25,1z"/>
    </pattern>

    <text id="text" transform="translate(2,116)" font-family="'Cabin Condensed'" font-size="161.047">Best Dl</text>

    <mask id="text-mask">
      <use x="0" y="0" xlink:href="#text" opacity="1" fill="#ffffff"/>
    </mask>

    <g id="eff">
      <use x="0" y="0" xlink:href="#text" fill="#a2a3a5"/>

      <rect class="water-fill" mask="url(#text-mask)" fill="url(#water)" x="-300" y="50" width="1200" height="120" opacity="0.3">
    <animate attributeType="xml" attributeName="x" from="-300" to="0" repeatCount="indefinite" dur="2s"/>
  </rect>
      <rect class="water-fill" mask="url(#text-mask)" fill="url(#water)" y="45" width="1600" height="120" opacity="0.3">
    <animate attributeType="xml" attributeName="x" from="-400" to="0" repeatCount="indefinite" dur="3s"/>
  </rect>

      <rect class="water-fill" mask="url(#text-mask)" fill="url(#water)" y="55" width="800" height="120" opacity="0.3">
    <animate attributeType="xml" attributeName="x" from="-200" to="0" repeatCount="indefinite" dur="1.4s"/>
  </rect>
      <rect class="water-fill" mask="url(#text-mask)" fill="url(#water)" y="55" width="2000" height="120" opacity="0.3">
    <animate attributeType="xml" attributeName="x" from="-500" to="0" repeatCount="indefinite" dur="2.8s"/>
  </rect>
    </g>
  </defs>

  <use xlink:href="#eff" opacity="0.9" style="mix-blend-mode:color-burn"/>

</svg>

<app-top-bar  [style.z-index]="getStyle()" (myEvent)="getSpecStyle($event)"></app-top-bar>
<div id="idnews" [style.z-index]="getStyle()">News</div>
<div id="myp3"><button (click)="onLeaveAdmin()" id="myp3bt">Return to login</button></div>
<app-news [style.z-index]="getStyle()"></app-news>
<!--
<app-user></app-user>
<div id="testing">
<p>Hello</p>
<mat-toolbar color="primary"><span>My Application</span></mat-toolbar>
<input id="myInput">
<mat-button-toggle>{{myVar}}</mat-button-toggle>
<button>2</button>
<mat-form-field><input [(ngModel)]="myVar" matInput placeholder="Search"> </mat-form-field>
</div>
-->

<mat-grid-list cols="11" rowHeight="100px" [style.z-index]="getStyle()">
  <mat-grid-tile
    *ngFor="let tile of actualTiles"
    [colspan]="colsAndRows"
    [rowspan]="colsAndRows">
    <p class="tile_p"><a href="http://localhost:7070/download?id={{tile.id}}" target="_blank">{{tile.name}}</a></p>  <mat-slider  [(ngModel)]="tile.rating" min="1" max="10" step="1" value="1" thumbLabel tickInterval="1"></mat-slider>
    <mat-button-toggle id="but1"(click)="doDl(tile)">{{download}}</mat-button-toggle>
    <mat-button-toggle id="but2"(click)="doRate(tile)">Rate</mat-button-toggle>
  </mat-grid-tile>
</mat-grid-list>


<!--<mat-grid-list cols="11" rowHeight="100px" [style.z-index]="getStyle()">-->
  <!--<mat-grid-tile-->
    <!--*ngFor="let tile of tiles"-->
    <!--[colspan]="colsAndRows"-->
    <!--[rowspan]="colsAndRows">-->
    <!--<p class="tile_p"><a href="http://www.thismanslife.co.uk" target="_blank">{{tile.text}}</a></p>  <mat-slider  [(ngModel)]="tile.rating" min="1" max="10" step="1" value="1" thumbLabel tickInterval="1"></mat-slider>-->
    <!--<mat-button-toggle id="but1"(click)="doDl(tile)">{{download}}</mat-button-toggle>-->
    <!--<mat-button-toggle id="but2"(click)="doRate(tile)">Rate</mat-button-toggle>-->
  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->

<mat-grid-list id="adminlist" cols="11" rowHeight="100px" [style.z-index]="getStyle2()">
  <mat-grid-tile id="admintiles"
                 *ngFor="let tile of tilesUsers"
                 [colspan]="tile.cols"
                 [rowspan]="tile.rows">
    <p class="tile_p"><a href="http://www.thismanslife.co.uk" target="_blank">{{tile.text}}</a></p>
    <mat-button-toggle (click)="doDownload2()">{{downloadNews}}</mat-button-toggle>
  </mat-grid-tile>
</mat-grid-list>
<div id="minibkg"></div>
<div id = "registerComponent" (click)="changeStyleRegister1()" [style.z-index]="getStyleRegister1()">Register</div>
<div id = "actualRegister"  [style.z-index]="getStyleRegister2()">
  <input id="registerId"  [(ngModel)]="regId" [value]="regId">
  <input id="registerPwd"  [(ngModel)]="regPwd" [value]="regPwd">
  <input id="registerMail"  [(ngModel)]="regMail" [value]="regMail">
  <div id = "registerIdLabel">Id</div>
  <div id = "registerPwdLabel">Pwd</div>
  <div id = "registerMailLabel">Repeat Pwd</div>
  <div id = "clickRegister" (click)="signUp()">Sign-up</div>
  <div id = "clickCloseRegister" (click)="changeStyleRegister2()">Close Reg</div>
  <div id = "successReg" (click)="setOpacityBriefly()" [style.opacity]="getSuccessOpacity()"> Successful sign-up </div>
</div>
<!--<app-banusr id="ban" [style.z-index]="getStyle()"></app-banusr>
!-->
<div id="fakeUpload" (click)="setFakeStyle()"></div>
<button id="getButton" (click)="getObjects()">Get</button>
</body>

